{{summaryPlaceholder}}.

{{extendedSummaryPlaceholder}}

Attributes
----------
{{#parameters}}
{{var}}: :class:`{{typePlaceholder}}`
    {{descriptionPlaceholder}}
{{/parameters}}

Parameters
----------
{{#parameters}}
{{var}}: :class:`{{typePlaceholder}}`
    {{descriptionPlaceholder}}
{{/parameters}}

{{#returns}}
Returns
-------
:class:`{{typePlaceholder}}`
    {{descriptionPlaceholder}}
{{/parameters}}

Parameters
----------
{{#parameters}}
{{var}}: :class:`{{typePlaceholder}}`
    {{descriptionPlaceholder}}
{{/parameters}}

{{#returns}}
Returns
-------
:class:`{{typePlaceholder}}`
    {{descriptionPlaceholder}}
{{/returns}}

{{#exceptions}}
Raises
------
{{#exceptions}}
:class:`{{type}}`
    {{descriptionPlaceholder}}
{{/exceptions}}
{{/exceptions}}