[submodule "private_cogs"]
	path = extensions/private_cogs
	url = https://github.com/k8thekat/private_dpy_modules
[submodule "extensions"]
	path = extensions/
	url = https://github.com/k8thekat/public_dpy_modules
