python-dotenv==1.0.1
aiofiles
aiohttp
asyncpraw
discord.py==2.2.2
fake_useragent==1.5.1
GitPython==3.1.43
import_expression==1.1.4
Pillow==10.3.0
psutil==5.9.5
pytz==2022.1
typing_extensions==4.7
tzlocal==5.2
mystbin
asqlite
