aiofiles==24.1.0
aiohttp==3.11.18
asqlite==2.0.0
asyncpraw==7.8.1
attr==0.3.2
cogs==0.4.4
colorlog==6.9.0
discord.py==2.5.2
fake_useragent==2.2.0
GitPython==3.1.44
import_expression==2.2.1.post1
lxml==5.4.0
Pillow==11.2.1
psutil==7.0.0
python_dateutil==2.9.0.post0
pytz==2025.2
requests_cache==1.2.1
sentry_sdk==2.28.0
thefuzz==0.22.1
typing_extensions==4.13.2
tzlocal==5.3.1
